// SASS Variables

$maincolor: black;
$contrastcolor: white;


// Mixins aka presets styles

@mixin white-text-black-background {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-background {
    color: $maincolor;
    background-color: $contrastcolor;
}

// Header

.nav {
    @include white-text-black-background;
    display: flex;
    Justify-content: flex-start;
    a {
         @include white-text-black-background;
         div {
            margin: 10px;
            font-size: large;

         }
    }
}